- content_for(:page_title) { @service.name }

- content_for(:page_header)
  = render( \
    PageHeadingComponent.new( \
      :title => "Editing service", \
      :actions => [ \
        PageHeadingDeleteActionComponent.new(:label => "Delete", :url => service_path(@service)),
      ] \
    ))

.mt-6.max-w-8xl.mx-auto.px-4.sm:px-6.lg:px-8
  == render "form", :service => @service
