tr
  td.px-6.py-4.whitespace-no-wrap.text-sm.leading-5.text-gray-900
    - if item.occurred_at
      = I18n.localize(item.occurred_at.to_date)
  td.px-6.py-4.whitespace-no-wrap.text-sm.leading-5.text-gray-500
    = item.description
  td.px-6.py-4.whitespace-no-wrap.text-sm.leading-5.text-gray-500
    = item.source
  td.px-6.py-4.whitespace-no-wrap.text-sm.leading-5.text-right.text-gray-900
    = "#{item.quantity.to_f.round(1)} #{item.unit}"
  td.px-6.py-4.whitespace-no-wrap.text-sm.leading-5.text-gray-500
    - if item.invoiced_at
      = I18n.localize(item.invoiced_at.to_date)
    - else
      span.text-gray-400 —
  td.px-6.py-4.whitespace-no-wrap.text-right.text-sm.leading-5.font-medium
    - unless item.invoiced_at
      = link_to translate(".delete"), agreement_billable_item_path(@agreement, item), \
          :data => {:turbo_method => :delete, :turbo_confirm => translate(".confirm_delete")}, \
          :class => "text-red-600 hover:text-red-900"
