- content_for(:page_title) { "#{@agreement.project_name} — Billable Items" }

- content_for(:page_header)
  = render(PageHeading::Component.new( \
      :title => content_for(:page_title), \
      :actions => [ \
        PageHeading::ActionLinkComponent.new(:label => "Agreement", :url => agreement_path(@agreement)) \
      ] \
    ))

.mt-6.max-w-8xl.mx-auto.sm:px-6.lg:px-8
  .-my-2.overflow-x-auto.sm:-mx-6.lg:-mx-8
    .py-2.align-middle.inline-block.min-w-full.sm:px-6.lg:px-8
      .shadow.overflow-hidden.border-b.border-gray-200.sm:rounded-lg
        table.min-w-full.divide-y.divide-gray-200
          thead
            tr
              th.px-6.py-3.bg-gray-50.text-left.text-xs.leading-4.font-medium.text-gray-500.uppercase.tracking-wider
                = translate(".occurred_at")
              th.px-6.py-3.bg-gray-50.text-left.text-xs.leading-4.font-medium.text-gray-500.uppercase.tracking-wider
                = translate(".description")
              th.px-6.py-3.bg-gray-50.text-left.text-xs.leading-4.font-medium.text-gray-500.uppercase.tracking-wider
                = translate(".source")
              th.px-6.py-3.bg-gray-50.text-right.text-xs.leading-4.font-medium.text-gray-500.uppercase.tracking-wider
                = translate(".quantity")
              th.px-6.py-3.bg-gray-50.text-left.text-xs.leading-4.font-medium.text-gray-500.uppercase.tracking-wider
                = translate(".invoiced_at")
              th.px-6.py-3.bg-gray-50

          tbody.bg-white.divide-y.divide-gray-200
            - @billable_items.each do |item|
              = render("billable_items/row", :item => item)
