- content_for(:page_title) { @<%= singular_table_name %> }

- content_for(:page_header)
  = render( \
    PageHeading::Component.new( \
      :title => "Editing <%= singular_table_name %>", \
      :actions => [ \
        PageHeading::DeleteActionComponent.new(:label => "Delete", :url => <%= singular_table_name %>_path(@<%= singular_table_name %>)),
      ] \
    ))

.mt-6.max-w-8xl.mx-auto.px-4.sm:px-6.lg:px-8
  == render "form", :<%= singular_table_name %> => @<%= singular_table_name %>
