- content_for(:page_title) { @<%= singular_table_name %> }

- content_for(:page_header)
  = render(PageHeading::Component.new( \
      :title => content_for(:page_title), \
      :actions => [ \
        PageHeading::ActionLinkComponent.new(:label => "Edit", :url => edit_<%= singular_table_name %>_path(@<%= singular_table_name %>)) \
      ] \
    ))

<% attributes.each do |attribute| -%>
p
  strong <%= attribute.human_name %>:
  = @<%= singular_table_name %>.<%= attribute.name %>
<% end -%>
