= link_to @label, @url, :class => "inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded text-green-700 bg-green-100 hover:bg-green-50 focus:outline-none focus:border-green-300 focus:shadow-outline-green active:bg-green-200 transition ease-in-out duration-150"
